In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [3]:
df=pd.read_csv('data/train_1_only_bookings.csv')

In [4]:
df.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1
1,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,1,1,2,50,628,1
2,2014-02-27 18:01:32,2,3,66,318,52078,NaN,756,0,1,...,0,1,8291,1,1,1,2,50,191,2
3,2013-06-15 15:38:05,30,4,195,548,56440,NaN,1048,0,1,...,0,1,1385,1,1,1,0,185,185,58
4,2014-11-23 18:02:20,30,4,195,991,47725,NaN,1048,0,0,...,0,1,8803,1,1,1,3,151,69,36

In [5]:
df.duplicated().sum()

0

In [6]:
df = df.iloc[1:].reset_index(drop=True)

In [6]:
df.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,1,1,2,50,628,1
1,2014-02-27 18:01:32,2,3,66,318,52078,NaN,756,0,1,...,0,1,8291,1,1,1,2,50,191,2
2,2013-06-15 15:38:05,30,4,195,548,56440,NaN,1048,0,1,...,0,1,1385,1,1,1,0,185,185,58
3,2014-11-23 18:02:20,30,4,195,991,47725,NaN,1048,0,0,...,0,1,8803,1,1,1,3,151,69,36
4,2014-01-03 16:30:17,2,3,66,462,41898,2454.8588,1482,0,1,...,0,2,12009,1,1,1,2,50,680,95

In [7]:
df.isna().sum()

date_time                         0
site_name                         0
posa_continent                    0
user_location_country             0
user_location_region              0
user_location_city                0
orig_destination_distance    338779
user_id                           0
is_mobile                         0
is_package                        0
channel                           0
srch_ci                           0
srch_co                           0
srch_adults_cnt                   0
srch_children_cnt                 0
srch_rm_cnt                       0
srch_destination_id               0
srch_destination_type_id          0
is_booking                        0
cnt                               0
hotel_continent                   0
hotel_country                     0
hotel_market                      0
hotel_cluster                     0
dtype: int64

In [8]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings("ignore")   
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, f1_score, precision_score, recall_score

In [9]:
features = ['user_location_country', 'user_location_region', 'hotel_market', 'srch_destination_type_id']
X_train = df[features]
X_test = df[features]
y_train = df['hotel_cluster']

In [10]:
model = DecisionTreeClassifier(max_depth=5)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [11]:
accuracy = accuracy_score(y_train, y_pred)
print(f"Accuracy: {accuracy:.4f}")

Accuracy: 0.0868

In [12]:
# 4. Precision, Recall, F1 (macro and weighted)
precision_macro = precision_score(y_train, y_pred, average='macro')
precision_weighted = precision_score(y_train, y_pred, average='weighted')
recall_macro = recall_score(y_train, y_pred, average='macro')
recall_weighted = recall_score(y_train, y_pred, average='weighted')
f1_macro = f1_score(y_train, y_pred, average='macro')
f1_weighted = f1_score(y_train, y_pred, average='weighted')

print(f"Precision (macro): {precision_macro:.4f}")
print(f"Precision (weighted): {precision_weighted:.4f}")
print(f"Recall (macro): {recall_macro:.4f}")
print(f"Recall (weighted): {recall_weighted:.4f}")
print(f"F1-score (macro): {f1_macro:.4f}")
print(f"F1-score (weighted): {f1_weighted:.4f}")

# 5. Confusion Matrix
cm = confusion_matrix(y_train, y_pred)
print("Confusion Matrix:")
print(cm)

# 6. Full Classification Report
print("Classification Report:")
print(classification_report(y_train, y_pred))

Precision (macro): 0.0202
Precision (weighted): 0.0287
Recall (macro): 0.0561
Recall (weighted): 0.0868
F1-score (macro): 0.0246
F1-score (weighted): 0.0349
Confusion Matrix:
[[ 2054   268     0 ...     0     0     0]
 [    0 12686     0 ...     0     0     0]
 [  699     0  2482 ...     0  1056     0]
 ...
 [ 1443     0   321 ...     0  1610     0]
 [  761     0   148 ...     0  4605     0]
 [  590    27   621 ...     0   789     0]]
Classification Report:
              precision    recall  f1-score   support

           0       0.04      0.32      0.07      6492
           1       0.26      1.00      0.41     12704
           2       0.08      0.16      0.11     15127
           3       0.00      0.00      0.00      4131
           4       0.00      0.00      0.00     11950
           5       0.09      0.11      0.10     14328
           6       0.00      0.00      0.00     14748
           7       0.06      0.06      0.06     11655
           8       0.00      0.00      0.00      7350
           9       0.05      0.04      0.04     15091
          10       0.00      0.00      0.00     10404
          11       0.00      0.00      0.00      9339
          12       0.00      0.00      0.00      5405
          13       0.00      0.00      0.00     14399
          14       0.00      0.00      0.00      5200
          15       0.00      0.00      0.00     13117
          16       0.00      0.00      0.00     18881
          17       0.00      0.00      0.00      7005
          18       0.00      0.00      0.00     18724
          19       0.00      0.00      0.00     10588
          20       0.00      0.00      0.00      4294
          21       0.07      0.06      0.07     17202
          22       0.09      0.22      0.13      7336
          23       0.00      0.00      0.00      5435
          24       0.00      0.00      0.00      4122
          25       0.00      0.00      0.00     15361
          26       0.00      0.00      0.00      5509
          27       0.00      0.00      0.00       859
          28       0.00      0.00      0.00     21108
          29       0.13      0.06      0.08     11642
          30       0.00      0.00      0.00      9351
          31       0.00      0.00      0.00      4030
          32       0.00      0.00      0.00     14027
          33       0.00      0.00      0.00     12783
          34       0.00      0.00      0.00      6348
          35       0.00      0.00      0.00      2402
          36       0.12      0.08      0.10     13399
          37       0.00      0.00      0.00     13397
          38       0.00      0.00      0.00      5469
          39       0.00      0.00      0.00     12338
          40       0.00      0.00      0.00     10183
          41       0.00      0.00      0.00     16408
          42       0.00      0.00      0.00     24499
          43       0.08      0.09      0.08     10801
          44       0.00      0.00      0.00      3654
          45       0.00      0.00      0.00      6005
          46       0.07      0.30      0.11     15360
          47       0.00      0.00      0.00     14713
          48       0.05      0.12      0.07     28908
          49       0.00      0.00      0.00      7867
          50       0.00      0.00      0.00     18213
          51       0.00      0.00      0.00     10224
          52       0.00      0.00      0.00      2792
          53       0.00      0.00      0.00      1712
          54       0.00      0.00      0.00      7102
          55       0.00      0.00      0.00     11729
          56       0.21      0.68      0.32      9576
          57       0.00      0.00      0.00      4746
          58       0.00      0.00      0.00     10434
          59       0.09      0.02      0.04     22070
          60       0.00      0.00      0.00      2727
          61       0.00      0.00      0.00      9204
          62       0.00      0.00      0.00     13589
          63       0.09      0.09      0.09      5023
          64       0.09      0.02      0.04     16045
          65       0.09      0.96      0.16      7072
          66       0.00      0.00      0.00      3180
          67       0.00      0.00      0.00      7422
          68       0.00      0.00      0.00     14179
          69       0.00      0.00      0.00      6192
          70       0.00      0.00      0.00     12268
          71       0.00      0.00      0.00      3101
          72       0.00      0.00      0.00     14414
          73       0.00      0.00      0.00      4846
          74       0.00      0.00      0.00       797
          75       0.00      0.00      0.00      3752
          76       0.00      0.00      0.00      6438
          77       0.00      0.00      0.00     13204
          78       0.00      0.00      0.00      8481
          79       0.00      0.00      0.00      7106
          80       0.00      0.00      0.00      2585
          81       0.00      0.00      0.00     10260
          82       0.11      0.18      0.14     18030
          83       0.00      0.00      0.00     11057
          84       0.00      0.00      0.00      3473
          85       0.00      0.00      0.00      7871
          86       0.00      0.00      0.00      2492
          87       0.00      0.00      0.00      2094
          88       0.00      0.00      0.00      2374
          89       0.00      0.00      0.00      5036
          90       0.00      0.00      0.00      7988
          91       0.08      0.77      0.14     40385
          92       0.00      0.00      0.00      2101
          93       0.00      0.00      0.00      3019
          94       0.00      0.00      0.00      9173
          95       0.00      0.00      0.00     18367
          96       0.00      0.00      0.00      5548
          97       0.00      0.00      0.00      9697
          98       0.07      0.28      0.11     16327
          99       0.00      0.00      0.00     13037

    accuracy                           0.09   1000000
   macro avg       0.02      0.06      0.02   1000000
weighted avg       0.03      0.09      0.03   1000000

In [13]:
df['date_time'] = pd.to_datetime(df['date_time'], errors='coerce')

# Now you can extract the year
df['search_year'] = df['date_time'].dt.year

In [14]:
df['search_month'] = df['date_time'].dt.month
df['search_dayofweek'] = df['date_time'].dt.dayofweek
df['search_hour'] = df['date_time'].dt.hour

In [15]:
df['srch_ci']   = pd.to_datetime(df['srch_ci'], errors='coerce')
df['lead_time'] = (df['srch_ci'] - df['date_time']).dt.days

df['srch_co'] = pd.to_datetime(df['srch_co'], errors='coerce')
df['stay_nights'] = (df['srch_co'] - df['srch_ci']).dt.days

In [16]:

# Set pandas to display floats in normal notation
pd.set_option('display.float_format', '{:.2f}'.format)

# Quick descriptive statistics
print(df[['lead_time','stay_nights']].describe())

# Negative/absurd values
print('negative lead_time:', (df['lead_time'] < 0).sum())
print('long stays >365:', (df['stay_nights'] > 365).sum())

       lead_time  stay_nights
count 1000000.00   1000000.00
mean       34.91         2.43
std        51.87         2.02
min        -5.00        -9.00
25%         3.00         1.00
50%        15.00         2.00
75%        44.00         3.00
max       495.00        33.00
negative lead_time: 66321
long stays >365: 0

In [17]:
df = df[(df['lead_time'] >= 0) & (df['stay_nights'] >= 0)]

In [18]:
df.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,hotel_continent,hotel_country,hotel_market,hotel_cluster,search_year,search_month,search_dayofweek,search_hour,lead_time,stay_nights
0,2014-08-11 08:22:12,2,3,66,348,48862,2234.26,12,0,1,...,2,50,628,1,2014,8,0,8,17,4
1,2014-02-27 18:01:32,2,3,66,318,52078,NaN,756,0,1,...,2,50,191,2,2014,2,3,18,49,2
2,2013-06-15 15:38:05,30,4,195,548,56440,NaN,1048,0,1,...,0,185,185,58,2013,6,5,15,82,8
3,2014-11-23 18:02:20,30,4,195,991,47725,NaN,1048,0,0,...,3,151,69,36,2014,11,6,18,214,2
4,2014-01-03 16:30:17,2,3,66,462,41898,2454.86,1482,0,1,...,2,50,680,95,2014,1,4,16,49,5

In [19]:
df=df.drop(columns=['date_time'])

In [20]:
df.head()

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,hotel_continent,hotel_country,hotel_market,hotel_cluster,search_year,search_month,search_dayofweek,search_hour,lead_time,stay_nights
0,2,3,66,348,48862,2234.26,12,0,1,9,...,2,50,628,1,2014,8,0,8,17,4
1,2,3,66,318,52078,NaN,756,0,1,4,...,2,50,191,2,2014,2,3,18,49,2
2,30,4,195,548,56440,NaN,1048,0,1,9,...,0,185,185,58,2013,6,5,15,82,8
3,30,4,195,991,47725,NaN,1048,0,0,9,...,3,151,69,36,2014,11,6,18,214,2
4,2,3,66,462,41898,2454.86,1482,0,1,1,...,2,50,680,95,2014,1,4,16,49,5

In [20]:
df=df.drop(columns=['is_booking','cnt'])

In [21]:

# Convert srch_ci and srch_co to datetime (if not already)
df['srch_ci'] = pd.to_datetime(df['srch_ci'], errors='coerce')
df['srch_co'] = pd.to_datetime(df['srch_co'], errors='coerce')

# Extract year, month, day from check-in
df['ci_year'] = df['srch_ci'].dt.year
df['ci_month'] = df['srch_ci'].dt.month
df['ci_day'] = df['srch_ci'].dt.day
df['ci_weekday'] = df['srch_ci'].dt.weekday  # 0=Monday, 6=Sunday

# Extract year, month, day from check-out (optional)
df['co_year'] = df['srch_co'].dt.year
df['co_month'] = df['srch_co'].dt.month
df['co_day'] = df['srch_co'].dt.day
df['co_weekday'] = df['srch_co'].dt.weekday

# Stay length in days
df['stay_length'] = (df['srch_co'] - df['srch_ci']).dt.days

# Drop original date columns (if not needed)
df = df.drop(['srch_ci', 'srch_co'], axis=1)

In [22]:
df=df.drop(columns=['stay_length'], axis=1)

In [23]:
df.head()

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,lead_time,stay_nights,ci_year,ci_month,ci_day,ci_weekday,co_year,co_month,co_day,co_weekday
0,2,3,66,348,48862,2234.26,12,0,1,9,...,17,4,2014,8,29,4,2014,9,2,1
1,2,3,66,318,52078,NaN,756,0,1,4,...,49,2,2014,4,18,4,2014,4,20,6
2,30,4,195,548,56440,NaN,1048,0,1,9,...,82,8,2013,9,6,4,2013,9,14,5
3,30,4,195,991,47725,NaN,1048,0,0,9,...,214,2,2015,6,26,4,2015,6,28,6
4,2,3,66,462,41898,2454.86,1482,0,1,1,...,49,5,2014,2,22,5,2014,2,27,3

In [24]:
X= df.drop(['hotel_cluster','orig_destination_distance'], axis=1)
y= df['hotel_cluster']

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [26]:
model1=DecisionTreeClassifier(max_depth=5)
model1.fit(X_train, y_train)
y_pred = model1.predict(X_test)

In [27]:
accuracy = accuracy_score(y_test, y_pred)
print(f"DecisionTreeClassifier Accuracy: {accuracy:.4f}")

DecisionTreeClassifier Accuracy: 0.0959

# Simple Logistic regression

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
model2 = LogisticRegression(multi_class='multinomial', max_iter=100, solver='lbfgs')
model2.fit(X_train, y_train)
probs = model2.predict_proba(X_test)
top5 = np.argsort(probs, axis=1)[:, -5:]

In [30]:
y_pred = model2.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print(f"LogisticRegression Top-1 Accuracy: {acc:.4f}")

LogisticRegression Top-1 Accuracy: 0.0396

In [31]:
df.head()

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,lead_time,stay_nights,ci_year,ci_month,ci_day,ci_weekday,co_year,co_month,co_day,co_weekday
0,2,3,66,348,48862,2234.26,12,0,1,9,...,17,4,2014,8,29,4,2014,9,2,1
1,2,3,66,318,52078,NaN,756,0,1,4,...,49,2,2014,4,18,4,2014,4,20,6
2,30,4,195,548,56440,NaN,1048,0,1,9,...,82,8,2013,9,6,4,2013,9,14,5
3,30,4,195,991,47725,NaN,1048,0,0,9,...,214,2,2015,6,26,4,2015,6,28,6
4,2,3,66,462,41898,2454.86,1482,0,1,1,...,49,5,2014,2,22,5,2014,2,27,3

In [32]:
df['orig_destination_distance'].isna().sum()

322733

In [33]:
df['orig_destination_distance'] = df['orig_destination_distance'].fillna(df['orig_destination_distance'].median())

In [34]:
df.isna().sum()

site_name                    0
posa_continent               0
user_location_country        0
user_location_region         0
user_location_city           0
orig_destination_distance    0
user_id                      0
is_mobile                    0
is_package                   0
channel                      0
srch_adults_cnt              0
srch_children_cnt            0
srch_rm_cnt                  0
srch_destination_id          0
srch_destination_type_id     0
hotel_continent              0
hotel_country                0
hotel_market                 0
hotel_cluster                0
search_year                  0
search_month                 0
search_dayofweek             0
search_hour                  0
lead_time                    0
stay_nights                  0
ci_year                      0
ci_month                     0
ci_day                       0
ci_weekday                   0
co_year                      0
co_month                     0
co_day                       0
co_weekday                   0
dtype: int64

# Model 2 : Decision tree after imputation

In [35]:
df.head()

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,lead_time,stay_nights,ci_year,ci_month,ci_day,ci_weekday,co_year,co_month,co_day,co_weekday
0,2,3,66,348,48862,2234.26,12,0,1,9,...,17,4,2014,8,29,4,2014,9,2,1
1,2,3,66,318,52078,907.09,756,0,1,4,...,49,2,2014,4,18,4,2014,4,20,6
2,30,4,195,548,56440,907.09,1048,0,1,9,...,82,8,2013,9,6,4,2013,9,14,5
3,30,4,195,991,47725,907.09,1048,0,0,9,...,214,2,2015,6,26,4,2015,6,28,6
4,2,3,66,462,41898,2454.86,1482,0,1,1,...,49,5,2014,2,22,5,2014,2,27,3

In [36]:
X= df.drop(['hotel_cluster'], axis=1)
y= df['hotel_cluster']

In [37]:
model2=DecisionTreeClassifier(max_depth=5)
model2.fit(X_train, y_train)
y_pred_model2 = model2.predict(X_test)

In [38]:
accuracy = accuracy_score(y_test, y_pred_model2)
print(f"DecisionTreeClassifier Accuracy: {accuracy:.4f}")

DecisionTreeClassifier Accuracy: 0.0959

# Decision tree classifier with more depth

In [39]:
model3 = DecisionTreeClassifier(max_depth=20, min_samples_split=50, random_state=42)
model3.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=20, min_samples_split=50, random_state=42)

In [40]:
y_pred_model3 = model3.predict(X_test)

In [41]:
accuracy = accuracy_score(y_test, y_pred_model3)
print(f"DecisionTreeClassifier Accuracy: {accuracy:.4f}")

DecisionTreeClassifier Accuracy: 0.1764

# Decision tree classifier after log transformation

In [76]:
df['orig_destination_distance_log'] = np.log1p(df['orig_destination_distance'])

In [77]:
df.head()

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,stay_nights,ci_year,ci_month,ci_day,ci_weekday,co_year,co_month,co_day,co_weekday,orig_destination_distance_log
0,2,3,66,348,48862,2234.26,12,0,1,9,...,4,2014,8,29,4,2014,9,2,1,7.71
1,2,3,66,318,52078,907.09,756,0,1,4,...,2,2014,4,18,4,2014,4,20,6,6.81
2,30,4,195,548,56440,907.09,1048,0,1,9,...,8,2013,9,6,4,2013,9,14,5,6.81
3,30,4,195,991,47725,907.09,1048,0,0,9,...,2,2015,6,26,4,2015,6,28,6,6.81
4,2,3,66,462,41898,2454.86,1482,0,1,1,...,5,2014,2,22,5,2014,2,27,3,7.81

In [78]:
df['posa_continent'].value_counts()

posa_continent
3    721067
1    113666
2     67098
4     25792
0      6055
Name: count, dtype: int64

In [103]:
X= df.drop(['orig_destination_distance','hotel_cluster','user_id'], axis=1)
y= df['hotel_cluster']

In [104]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [105]:
model4 = DecisionTreeClassifier(max_depth=20, min_samples_split=50, random_state=42)
model4.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=20, min_samples_split=50, random_state=42)

In [106]:
y_pred_model4 = model4.predict(X_test)

In [107]:
accuracy = accuracy_score(y_test, y_pred_model4)
print(f"DecisionTreeClassifier Accuracy: {accuracy:.4f}")

DecisionTreeClassifier Accuracy: 0.1768

# Feature Engineering

In [108]:
df.head()

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,stay_nights,ci_year,ci_month,ci_day,ci_weekday,co_year,co_month,co_day,co_weekday,orig_destination_distance_log
0,2,3,66,348,48862,2234.26,12,0,1,9,...,4,2014,8,29,4,2014,9,2,1,7.71
1,2,3,66,318,52078,907.09,756,0,1,4,...,2,2014,4,18,4,2014,4,20,6,6.81
2,30,4,195,548,56440,907.09,1048,0,1,9,...,8,2013,9,6,4,2013,9,14,5,6.81
3,30,4,195,991,47725,907.09,1048,0,0,9,...,2,2015,6,26,4,2015,6,28,6,6.81
4,2,3,66,462,41898,2454.86,1482,0,1,1,...,5,2014,2,22,5,2014,2,27,3,7.81

# A. Total party size

In [109]:
df['total_party'] = df['srch_adults_cnt'] + df['srch_children_cnt']

# B. Frequency encoding for high-cardinality categorical IDs

In [110]:
categorical_cols = ['site_name', 'user_location_country', 'user_location_region', 
                    'user_location_city', 'srch_destination_id', 'hotel_market']

for col in categorical_cols:
    freq = df[col].value_counts() / len(df)
    df[col + '_freq'] = df[col].map(freq)

# C. Interaction features

In [111]:
df['user_country_hotel_country'] = df['user_location_country'].astype(str) + '_' + df['hotel_country'].astype(str)
df['user_country_hotel_country_freq'] = df['user_country_hotel_country'].map(df['user_country_hotel_country'].value_counts() / len(df))

# E. Optional: Bucket party size

In [112]:
df['party_size_bucket'] = pd.cut(df['total_party'], bins=[0,1,2,4,10], labels=['1','2','3-4','5+'])

# F. Drop original IDs after encoding

In [113]:
df = df.drop(columns=['site_name', 'user_location_country', 'user_location_region', 
                      'user_location_city', 'srch_destination_id', 'hotel_market', 
                      'user_country_hotel_country'])

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 933678 entries, 0 to 999999
Data columns (total 37 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   posa_continent                   933678 non-null  int64
 1   orig_destination_distance        933678 non-null  float64
 2   user_id                          933678 non-null  int64
 3   is_mobile                        933678 non-null  int64
 4   is_package                       933678 non-null  int64
 5   channel                          933678 non-null  int64
 6   srch_adults_cnt                  933678 non-null  int64
 7   srch_children_cnt                933678 non-null  int64
 8   srch_rm_cnt                      933678 non-null  int64
 9   srch_destination_type_id         933678 non-null  int64
 10  hotel_continent                  933678 non-null  int64
 11  hotel_country                    933678 non-null  int64
 12  hotel_cluster                    933678 non-null  int64
 13  search_year                      933678 non-null  int32
 14  search_month                     933678 non-null  int32
 15  search_dayofweek                 933678 non-null  int32
 16  search_hour                      933678 non-null  int32
 17  lead_time                        933678 non-null  int64
 18  stay_nights                      933678 non-null  int64
 19  ci_year                          933678 non-null  int32
 20  ci_month                         933678 non-null  int32
 21  ci_day                           933678 non-null  int32
 22  ci_weekday                       933678 non-null  int32
 23  co_year                          933678 non-null  int32
 24  co_month                         933678 non-null  int32
 25  co_day                           933678 non-null  int32
 26  co_weekday                       933678 non-null  int32
 27  orig_destination_distance_log    933678 non-null  float64
 28  total_party                      933678 non-null  int64
 29  site_name_freq                   933678 non-null  float64
 30  user_location_country_freq       933678 non-null  float64
 31  user_location_region_freq        933678 non-null  float64
 32  user_location_city_freq          933678 non-null  float64
 33  srch_destination_id_freq         933678 non-null  float64
 34  hotel_market_freq                933678 non-null  float64
 35  user_country_hotel_country_freq  933678 non-null  float64
 36  party_size_bucket                931517 non-null  category
dtypes: category(1), float64(9), int32(12), int64(15)
memory usage: 221.7 MB

In [115]:
df.head()

,posa_continent,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_type_id,...,orig_destination_distance_log,total_party,site_name_freq,user_location_country_freq,user_location_region_freq,user_location_city_freq,srch_destination_id_freq,hotel_market_freq,user_country_hotel_country_freq,party_size_bucket
0,3,2234.26,12,0,1,9,2,0,1,1,...,7.71,2,0.65,0.55,0.04,0.02,0.03,0.04,0.41,2
1,3,907.09,756,0,1,4,2,0,1,1,...,6.81,2,0.65,0.55,0.01,0.00,0.01,0.01,0.41,2
2,4,907.09,1048,0,1,9,2,0,1,1,...,6.81,2,0.01,0.01,0.00,0.00,0.00,0.00,0.00,2
3,4,907.09,1048,0,0,9,2,0,1,1,...,6.81,2,0.01,0.01,0.00,0.00,0.00,0.00,0.00,2
4,3,2454.86,1482,0,1,1,3,0,2,1,...,7.81,3,0.65,0.55,0.03,0.00,0.00,0.00,0.41,3-4

In [116]:
df = df.drop(columns=['user_id'])

In [117]:
df.head()

,posa_continent,orig_destination_distance,is_mobile,is_package,channel,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_type_id,hotel_continent,...,orig_destination_distance_log,total_party,site_name_freq,user_location_country_freq,user_location_region_freq,user_location_city_freq,srch_destination_id_freq,hotel_market_freq,user_country_hotel_country_freq,party_size_bucket
0,3,2234.26,0,1,9,2,0,1,1,2,...,7.71,2,0.65,0.55,0.04,0.02,0.03,0.04,0.41,2
1,3,907.09,0,1,4,2,0,1,1,2,...,6.81,2,0.65,0.55,0.01,0.00,0.01,0.01,0.41,2
2,4,907.09,0,1,9,2,0,1,1,0,...,6.81,2,0.01,0.01,0.00,0.00,0.00,0.00,0.00,2
3,4,907.09,0,0,9,2,0,1,1,3,...,6.81,2,0.01,0.01,0.00,0.00,0.00,0.00,0.00,2
4,3,2454.86,0,1,1,3,0,2,1,2,...,7.81,3,0.65,0.55,0.03,0.00,0.00,0.00,0.41,3-4

In [120]:
X = df.drop(columns=['hotel_cluster','orig_destination_distance'])
y = df['hotel_cluster']

In [121]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [122]:
numeric_features = ['orig_destination_distance_log', 'total_party']
categorical_features = ['party_size_bucket']

In [125]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [126]:
preprocessor = ColumnTransformer( transformers=[('num', StandardScaler(), numeric_features),
                                                ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)])

In [127]:
X_train.shape

(746942, 34)

In [128]:
y_train.shape

(746942,)

In [2]:
from sklearn.pipeline import Pipeline

In [5]:
from imblearn.over_sampling import SMOTE

ModuleNotFoundError: No module named 'imblearn'

In [145]:
smote = SMOTE(random_state=42)
X_train_res, y_train_res = smote.fit_resample(X_train, y_train)

NameError: name 'SMOTE' is not defined

In [140]:
model_5 = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', DecisionTreeClassifier(max_depth=20, min_samples_split=50, class_weight='balanced', random_state=42))
])

In [141]:
model_5.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  ['orig_destination_distance_log',
                                                   'total_party']),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['party_size_bucket'])])),
                ('classifier',
                 DecisionTreeClassifier(class_weight='balanced', max_depth=20,
                                        min_samples_split=50,
                                        random_state=42))])

In [143]:
from sklearn.metrics import top_k_accuracy_score, accuracy_score, f1_score

In [144]:
y_pred_model5 = model_5.predict(X_test)
y_proba = model_5.predict_proba(X_test)

accuracy = accuracy_score(y_test, y_pred_model5)
f1 = f1_score(y_test, y_pred, average='macro')
top5 = top_k_accuracy_score(y_test, y_proba, k=5)

print(f"Decision Tree Accuracy: {accuracy:.4f}")
print(f"Decision Tree Macro F1-score: {f1:.4f}")
print(f"Decision Tree Top-5 Accuracy: {top5:.4f}")

Decision Tree Accuracy: 0.0409
Decision Tree Macro F1-score: 0.0008
Decision Tree Top-5 Accuracy: 0.1313